body {
    user-select: none;
}

.whole-page {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Finews.gtimg.com%2Fnewsapp_match%2F0%2F11695386033%2F0.jpg&refer=http%3A%2F%2Finews.gtimg.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1649431904&t=58778d0de34f6296713888e7212fd184);
}

.vcenter {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login {
    width: 30%;
    height: 30%;
}

.login>button {
    background-color: orange;
}

.app-left-pane {
    width: 20%;
    height: 100%;
    background-color: orange;
    left: 0%;
    top: 0%;
    position: absolute;
}

.app-left-pane-top {
    width: 100%;
    height: 30%;
    top: 0%;
    left: 0%;
    position: absolute;
}

.app-left-pane-top-search {
    width: 100%;
    height: 20%;
    bottom: 0%;
    left: 0%;
    position: absolute;
}

.app-left-pane-bottom-top-input {
    width: 70%;
    height: 70%;
    border-radius: 5px;
}

.app-left-pane-bottom-top-btn {
    height: 70%;
    float: right;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    width: 20%;
}

.app-left-pane-bottom-bottom {
    bottom: 0%;
    width: 100%;
    position: absolute;
}

.app-left-pane-bottom-bottom-info {
    margin-bottom: 10px;
    margin-left: 10px;
}

.app-left-pane-bottom {
    width: 100%;
    height: 70%;
    top: 30%;
    left: 0%;
    position: absolute;
}

.app-right-pane {
    width: 80%;
    height: 100%;
    background-color: burlywood;
    left: 20%;
    top: 0%;
    position: absolute;
}

.app-right-pane-top {
    width: 100%;
    height: 15%;
    top: 0%;
    left: 0%;
    position: absolute;
    background-color: yellowgreen;
}

.app-right-pane-top-roominfo {
    width: 70%;
    height: 70%;
    left: 5%;
    top: 15%;
    position: absolute;
}

.app-right-pane-body {
    width: 100%;
    height: 70%;
    top: 15%;
    left: 0%;
    position: absolute;
    overflow-x: auto;
    word-wrap: break-word;
}

.app-right-pane-bottom {
    width: 100%;
    height: 15%;
    top: 85%;
    left: 0%;
    position: absolute;
    background-color: green;
}

.app-right-pane-bottom>textarea {
    height: 100%;
    width: 100%;
    bottom: 10px;
}

textarea {
    box-sizing: border-box;
}

.vcenter {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login {
    width: 30%;
    height: 30%;
}

.login>div {
    font-size: 18px;
}

.inputer {
    padding: 0;
    width: 100%;
    height: 25%;
    border: 1px solid orange;
    margin: 2px;
    border-radius: 5px;
}

.hide {
    display: none;
}

.app-left-pane {
    width: 20%;
    height: 100%;
    background-color: orange;
    left: 0%;
    top: 0%;
    position: absolute;
}

.app-left-pane-top {
    width: 100%;
    height: 30%;
    top: 0%;
    left: 0%;
    position: absolute;
}

.app-left-pane-top-userinfo-userpic {
    width: 30%;
    top: 10%;
    left: 10%;
    position: absolute;
    border-radius: 50%;
}

.app-left-pane-top-userinfo-username {
    top: 20%;
    left: 45%;
    position: absolute;
    font-size: 20px;
}

.app-left-pane-top-search {
    width: 100%;
    height: 20%;
    bottom: 0%;
    left: 0%;
    position: absolute;
}

.app-left-pane-top-searcher {
    height: 100%;
    width: 100%;
}

.app-left-pane-bottom-top {
    width: 100%;
    height: 10%;
    left: 0%;
    top: 0%;
    position: absolute;
}

.app-left-pane-bottom-top>button {
    width: 50%;
    height: 100%;
    float: left;
    cursor: pointer;
    border-radius: 5px;
}

.app-left-pane-bottom-body {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 10%;
}

.app-left-pane-bottom-body-body {
    width: 100%;
    height: 100%;
    left: 0%;
    position: absolute;
    background-color: blanchedalmond;
}

.app-left-pane-bottom-bottom {
    bottom: 0%;
    width: 100%;
    position: absolute;
}

.app-left-pane-bottom-bottom-info {
    margin-bottom: 10px;
    margin-left: 10px;
}

.app-left-pane-bottom {
    width: 100%;
    height: 70%;
    top: 30%;
    left: 0%;
    position: absolute;
}

.app-right-pane {
    width: 80%;
    height: 100%;
    background-color: burlywood;
    left: 20%;
    top: 0%;
    position: absolute;
}

.app-right-pane-top {
    width: 100%;
    height: 15%;
    top: 0%;
    left: 0%;
    position: absolute;
    background-color: yellowgreen;
}

.app-chatobj-name {
    width: 70%;
    height: 70%;
    left: 5%;
    top: 10%;
    position: absolute;
    font-size: 30px;
}

.app-right-pane-body {
    width: 100%;
    height: 70%;
    top: 15%;
    left: 0%;
    position: absolute;
    overflow-x: auto;
    word-wrap: break-word;
}

.app-right-pane-bottom {
    width: 100%;
    height: 15%;
    top: 85%;
    left: 0%;
    position: absolute;
    background-color: green;
}

.app-right-pane-bottom>textarea {
    height: 100%;
    width: 100%;
    bottom: 10px;
}

.app-right-pane-bottom>button {
    height: 20%;
    width: 20%;
    bottom: 0%;
    right: 0%;
    position: absolute;
    cursor: pointer;
    border-radius: 5px;
}

input {
    box-sizing: border-box;
}

textarea {
    box-sizing: border-box;
    resize: none;
}

.chat-item {
    width: 100%;
    height: 30px;
    position: relative;
    background-color: darkgrey;
    border-radius: 5px;
    margin: 2px;
}

.chat-item>.username {
    font-size: 20px;
    left: 5px;
}

.chat-item>.add-item {
    float: right;
    font-size: 15px;
}

.chat-item>.delete-item {
    float: right;
    font-size: 15px;
}

.chat-item>a {
    margin: 5px;
    cursor: pointer;
}

.app-usertype {
    top: 30%;
    right: 5%;
    position: absolute;
}

.index-info-message {
    font-size: small;
    color: red;
}

.app-message {
    margin-top: 5px;
    position: relative;
}

.app-message>img {
    width: 50px;
    border-radius: 50%;
    left: 10px;
    position: relative;
}

.app-message-top-userinfo {
    position: absolute;
    top: 5px;
    left: 70px;
    font-size: large;
}

.app-message-content {
    left: 70px;
    position: absolute;
    font-size: medium;
    top: 30px;
}

.app-roomlist>h3 {
    text-align: center;
    cursor: pointer;
}