{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="{% static 'hour84/css/h84.css' %}">
    <script src="{%static 'hour84/js/jquery.min.js'%}"></script>

</head>

<body>
    <div class="index whole-page ">
        <div class="login vcenter">
            <input type="text" class="inputer index-login-username" placeholder="用户名" name="username" />
            <input type="text" class="inputer index-login-password" placeholder="密码" name="password" />
            <div>
                设置：
                <label><input type="radio" name="setting" value="0" checked />2小时</label>
                <label><input type="radio" name="setting" value="1" />12小时</label>
                <label><input type="radio" name="setting" value="2" />24小时</label>
                <label><input type="radio" name="setting" value="3" />48小时</label>
            </div>
            <span class="index-info-message"></span>
            <button class="index-login-btn inputer">确定</button>
        </div>
    </div>
    <div class="app whole-page hide">
        <div class="app-left-pane">
            <div class="app-left-pane-top">
                <div class="app-left-pane-top-userinfo">
                    <img src="{% static 'hour84/img/tx.jpg' %}" class="app-left-pane-top-userinfo-userpic">
                    <div class="app-left-pane-top-userinfo-username app-username">用户名</div>
                    <div class="app-usertype">正式用户</div>
                </div>
                <div class="app-left-pane-top-search">
                    <input name="search" class="app-left-pane-bottom-top-input" placeholder="搜索在线用户..." />
                    <button class="app-left-pane-bottom-top-btn">确定</button>
                </div>
            </div>
            <div class="app-left-pane-bottom">
                <div class="app-left-pane-bottom-top">
                    <button class="app-left-userbtn">好友</button>
                    <button class="app-left-roombtn" style="left: 50%;top: 0%;">群聊</button>
                </div>
                <div class="app-left-pane-bottom-body app-list">
                    <div class="app-left-pane-bottom-body-body app-left-list app-userlist">

                    </div>
                    <div class="app-left-pane-bottom-body-body app-left-list app-roomlist" style="display: none;">
                        <h3>添加群聊</h3>
                    </div>
                    <div class="app-left-pane-bottom-body-body app-left-list app-searchlist" style="display: none;"></div>
                </div>
                <div class="app-left-pane-bottom-bottom">
                    <div class="app-left-pane-bottom-bottom-info">
                        当前共
                        <a class="app-online-usernum"></a>
                        人在线。
                    </div>
                </div>
            </div>

        </div>
        <div class="app-right-pane">
            <div class="app-message-pane">
                <div class="app-right-pane-top">
                    <p class="app-chatobj-name">ROOM</p>
                </div>
                <div class="app-right-pane-body">
                </div>
                <div class="app-right-pane-bottom">
                    <textarea placeholder="在这里输入你想发送的信息..." id="app-message-input"></textarea>
                    <button class="app-sendmsg-btn">发送(ctrl+enter)</button>
                </div>
            </div>

        </div>
    </div>
    <script src="{% static 'hour84/js/h84.js' %}"></script>
</body>

</html>